<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Cadastrar Responsavel</title>
</head>
<body>
	<nav>
		<a href="/responsavel/cadastrar">Cadastrar Responsavel</a>
	</nav>
	<nav>
		<h3><a href="/responsavel/">Responsavel</a> / Cadastrar</h3>
	</nav>
	<form method="post">
	
		<label>Nome :</label>
		<input type="text" name="nome">
		<label>Data de Nascimento :</label>
		<input type="date" name="nascimento">
		<label>CPF :</label>
		<input type="text" name="cpf">
		
		<button>Enviar</button>
	</form>
</body>
</html>