<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Cadastrar Doutor</title>
</head>
<body>
	<nav>
		<a href="/doutor/cadastrar">Cadastrar Doutor</a>
	</nav>
	<nav>
		<h3><a href="/doutor/">Doutor</a> / Cadastrar</h3>
	</nav>
	<form method="post">
	
		<label>Nome :</label>
		<input type="text" name="nome">
		<label>Data de Nascimento :</label>
		<input type="date" name="nascimento">
		<label>Especialização :</label>
		<input type="text" name="especializacao">
		<label>CRM :</label>
		<input type="text" name="crm">
		<label>CPF :</label>
		<input type="text" name="cpf">
		
		<button>Enviar</button>
	</form>
</body>
</html>