<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Consultar Crianca</title>
</head>
<body>
	<nav>
		<h3><a href="/">Administração</a> / Crianca</h3>
	</nav>
	<nav>
		<a href="/crianca/cadastrar">Cadastrar Crianca</a>
	</nav>
	<nav>
		<h3>Crianca</h3>
	</nav>
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Nascimento</th>
				<th>CPF</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="crianca : ${criancas}">
				<td>
					<a th:href="${(#mvc.url('CC#criancaPage').arg(0, crianca.id)).build()}">
						<span th:text="${crianca.nome}"></span>
					</a>
				</td>
				<td><span th:text="${crianca.nascimento}"></span></td>
				<td><span th:text="${crianca.cpf}"></span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>